@font-face {
    font-family: 'Inter';
    src: url('@/assets/fonts/Inter-Regular.woff2') format('woff2'),
        url('@/assets/fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('@/assets/fonts/Inter-Medium.woff2') format('woff2'),
        url('@/assets/fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'WhyteInktrap';
    src: url('@/assets/fonts/WhyteInktrap-Medium.woff2') format('woff2'),
        url('@/assets/fonts/WhyteInktrap-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}