  /* assets/css/fonts.css */

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Inter-Regular.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Inter-Medium.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'WhyteInktrap';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/WhyteInktrap-Medium.woff2') format('woff2'),
         url('/fonts/WhyteInktrap-Medium.woff') format('woff');
  }
  